@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

li, a, b, button, small {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #555555;
    text-decoration: none;
}

b {
    font-size: 50px;
    font-weight: 700;
}

i {
    font-family: "Inconsolata", monospace;
    font-weight: 500;
    font-size: 16px;
    color: #555555;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 30px 10%;
}


.logo {
    height: 130px;
    cursor: pointer;
}

.button_holder {
    display: flex;
    flex-direction: row;
}

#eyebutton {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#ask_quest {
    height: 30px;
    width: 150px;
}

#eye {
    height: 100%;
    width: 100%;
}

.nav__links {
    margin-left: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: border 0.3s ease 0s;
}

.nav__links li a:hover {
    border-bottom: 4px solid orange;
}

.button_holder button {
    cursor: pointer;
    border: 1.5px solid black;
    transition: border 0.3s ease 0s;
}

.button_holder button :hover {
    border: 1.5px solid gray;
}

.data {
    padding: 0px 100px 0px 100px;
}
.info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 900px;
}

.info a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.news_data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.news {
    margin: 30px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.news_image {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 500px;
    border: solid 1px #ECECEC;
    box-shadow: 0px 0px 15px lightgray;
}

.news_image img {
    height: 300px;
}

.data_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 500px;
    height: 200px;
    border: solid 1px #ECECEC;
    box-shadow: 0px 0px 15px lightgray;
}

.data_info div {
    padding: 10px 0px 10px 0px;
}

.more_info button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.more_info button:hover {
    background-color: lightgray;
}

.more_info i {
    color: #BC4B4B;
}
